<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GlowAI</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1 class="title">GlowAI</h1>
    <div class="centerpls">
        <div class="consent">
            <h3>Do you consent to having your private information exposed?</h3>
            <a href="/quiz"><button>Yes</button></a>
            <button>No</button>
        </div>
    </div>
</body>
</html>
